body {
    color:whitesmoke;
    background:black;
    margin: 0px;
    font-family: "Sixtyfour Convergence", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px yellow;
    padding: 20px;
    font-size: 33px;
    color: greenyellow;
}

.chamada {
    background: rgb(128, 36, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right:5%;
}

H1{
    FONT-SIZE: 40PX;
}

P {
    FONT-SIZE: 20PX;
}
img{
    height: 250px;
}


.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 12px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top 50px;
}

.categorias-videos img {
    opacity: 0,5;

}
.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid green; 
}

.categoria h2{
    color: greenyellow;
}